<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C93D6E8E1EB0990F0087A23D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93D6EA71EB099100087A23D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93D6EB21EB099100087A23D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
